[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FertNet"]
	path = FertNet
	url = https://github.com/gertstulp/fertnet
[submodule "ggplotgui"]
	path = ggplotgui
	url = https://github.com/gertstulp/ggplotgui
