[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggplotgui"]
	path = ggplotgui
	url = https://github.com/gertstulp/ggplotgui
	shallow = true
	registered = true
